black
espeakng-loader
fastapi[standard]
fastmcp
langchain
langchain-mcp-adapters
langchain[openai]
langgraph-checkpoint-postgres
langgraph-cli[inmem]
misaki
mlx-audio
mlx-lm
mlx-whisper
num2words
phonemizer-fork
psycopg[binary,pool]
pydantic
python-vlc
setuptools<81
simpleaudio
sounddevice
soundfile
spacy
torch
webrtcvad
